@model IndexWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperBase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="col-sm-12 text-center">Welcome to the SuperBase</h1>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="/heroes/new">New Hero</a> | <a href="/teams/new">New Team</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <table class="table tabledark">
                    <thead>
                        <th>Id</th>
                        <th>Name</th>
                        <th>HQ</th>
                        <th>Members</th>
                    </thead>
                    <tbody>
                        @foreach(Team team in Model.AllTeams)
                        {
                            <tr>
                                <td>@team.TeamId</td>
                                <td>@team.Name</td>
                                <td>@team.HQLocation</td>
                                <td>
                                    <ul>
                                        @foreach(HeroOnTeam hot in team.HeroesOnTeam)
                                        {
                                            <li>@hot.Hero.Alias</li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h2 class="col-sm-8 offset-sm-2 text-center">Make a Hero join a Team!</h2>
        </div>
        <div class="row">
            <form asp-action="JoinTeam" asp-controller="Home" method="post" class="col-sm-8 offset-sm-2">
                <div class="form-group row">
                    <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="Form.HeroId"></span>
                    <label asp-for="Form.HeroId" class="col-sm-4"></label>
                    <select asp-for="Form.HeroId" class="col-sm-8 form-control">
                        @foreach(Hero hero in Model.AllHeroes)
                        {
                            <option value="@hero.HeroId">@hero.Alias</option>
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="Form.TeamId"></span>
                    <label asp-for="Form.TeamId" class="col-sm-4"></label>
                    <select asp-for="Form.TeamId" class="col-sm-8 form-control">
                        @foreach(Team team in Model.AllTeams)
                        {
                            <option value="@team.TeamId">@team.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <input type="submit" value="Join!" class="col-sm-4 offset-sm-4 btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</body>
</html>